.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: flex-start;
  height: 17%;
  border-top: solid;
  border-width: 1px;
  flex-flow: column;
}

.cardInfo {
  display: flex;
  padding: 10px;
}

.first-col {
  padding-left: 10px;
  display: flex;
  width: 25%;
}

.second-col {
  width: 50%;
}

.used-cards {
  padding-left: 10px;
  background-color: darkgray;
  bottom: 0;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  white-space: nowrap;
}

.history-icon {
  padding-top: 10px;
}

h3 {
  margin: 0;
}