
<div class="both-cards">
  <div style="padding-left: 64px;">
    <img id="mainDeck" class="image" mat-card-lg-image src="../assets/back.svg">
  </div>
  <div [hidden]="!nextCardIndex" style="padding-left: 24px;">
    <img id="currentCard" class="image" mat-card-lg-image src="../assets/back.svg">
  </div>
</div>
<div class="next-previous">
  <div *ngIf="!needsShuffle" style="padding-left: 62px;">
    <button class="next-button" mat-raised-button (click)="nextCard()" [disabled]="gameOver">
      {{ gameOver ? 'Game Over' : 'Next' }}
    </button>
  </div>
</div>
<div *ngIf="needsShuffle" style="padding-left: 60px;">
  <button class="shuffle-button" mat-raised-button (click)="shuffle()">
    Shuffle
  </button>
</div>
