<div class="navbar">
  <div class="coffee-link">
    <img id="coffee-image" src="../../assets/light-akar-icons_coffee.svg" alt="">
    &nbsp;&nbsp;&nbsp;<a id="coffee-a-tag" href="https://www.buymeacoffee.com/ryoungdale" target="_blank" rel="noopener noreferrer">Buy the developer a coffee</a>
  </div>
  <div class="nav-logo">
    <img id="metro-logo" src="../../assets/metro-logo.svg">
  </div>
  <div class="nav-buttons">
    <button mat-raised-button class="score-card" (click)="startNewGame()">
      <mat-icon style="font-weight: bold;">refresh</mat-icon>
    </button>
    <button mat-raised-button class="score-card" (click)="openSettings()">
      <mat-icon style="font-weight: bold;">settings</mat-icon>
    </button>
    <button mat-raised-button  class="score-card" (click)="openScoreCard()"><mat-icon style="font-weight: bold;">list</mat-icon></button>
  </div>
</div>
<div class="container">
  <div class="card-flipper">
    <app-card></app-card>
  </div>
  <div class="letters">
    <app-rails></app-rails>
  </div>
</div>
<div>
  <app-footer></app-footer>
</div>
