.toolbar {
  background-color: slategray;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card-flipper {
  width: 50%;
}

.letters {
  width: 50%;
  justify-content: flex-end;
}

.score-card {
  background-color:white;
  border-radius: 8px;
  width: 64px;
  height: 64px;
  border-width: 0;
  cursor: pointer;
}

.new-game {
  background-color: white;
  border-radius: 8px;
  border-width: 1px;
  width: 180px;
  height: 64px;
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-game.h1 {
  align-content: center;
}

::ng-deep .mat-bottom-sheet-container{
  min-width: 100vw!important;
  border-top-left-radius: 24px!important;
  border-top-right-radius: 24px!important;
  padding-left: 50px!important;
  padding-right: 50px!important;
}

.coffee-link {
  text-decoration: none;
  color: #8696A0;
  // font-family: cursive !important;
  font-size: 28px;
}

// .footer {
//   overflow-x: scroll;
// }