.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 18vh;
}

.coffee-link {
  display: flex;
  margin-left: 4vw;
  min-width: 18vw;
  text-align: center;
}

.coffee-link a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  align-self: flex-end;
}

.nav-logo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-right: 4vw;
  min-width: 18vw;
}

.container {
  display: flex;
  position: fixed;
  width: -webkit-fill-available;
  top: 18vh;
  height: 65vh;
  align-items: center;
  overflow-y: auto;
  padding: 0vw 4vw;
}

.card-flipper {
  width: 50%;
}

.letters {
  width: 50%;
}

.score-card {
  background-color:white;
  border-radius: 8px;
  width: 64px;
  height: 64px;
  border-width: 0;
  cursor: pointer;
}

.new-game {
  background-color: white;
  border-radius: 8px;
  border-width: 1px;
  width: 180px;
  height: 64px;
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-game.h1 {
  align-content: center;
}

::ng-deep .mat-bottom-sheet-container{
  min-width: 100vw!important;
  border-top-left-radius: 24px!important;
  border-top-right-radius: 24px!important;
  padding-left: 50px!important;
  padding-right: 50px!important;
}